<div class="row">
	<div class="col-lg-4">
		<div class="form-group">
			<label for="Stijl">Stijl</label>
			<select name="Stijl" id="Stijl" class="form-control" (change)="filterChanged($event)">
				<option value="">Choose an option</option>
				<option
					*ngFor="let stijlOption of stijlOptions"
					[value]="stijlOption">{{ stijlOption }}</option
					>
			</select>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="form-group">
			<label for="Brouwerij">Brouwerij</label>
			<select name="Brouwerij" id="Brouwerij" class="form-control" (change)="filterChanged($event)">
				<option value="">Choose an option</option>
				<option
					*ngFor="let brouwerijOption of brouwerijOptions"
					[value]="brouwerijOption">{{ brouwerijOption }}</option
					>
			</select>
		</div>
	</div>
</div>
