<div class="row">
	<div class="col-lg-4">
		<div class="form-group">
			<label for="Stijl">Stijl</label>
			<select name="Stijl" id="Stijl" class="form-control" (change)="filterChanged($event)">
				<option value="">Choose an option</option>
				<option
					*ngFor="let option of selectOptions.Stijl"
					[value]="option">{{ option }}</option
					>
			</select>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="form-group">
			<label for="Brouwerij">Brouwerij</label>
			<select name="Brouwerij" id="Brouwerij" class="form-control" (change)="filterChanged($event)">
				<option value="">Choose an option</option>
				<option
					*ngFor="let option of selectOptions.Brouwerij"
					[value]="option">{{ option }}</option
					>
			</select>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="form-group">
			<label for="Alcoholpercentage">Minimum alcoholpercentage ({{ filters.Alcoholpercentage.value }}%)</label>
			<input type="range" name="Alcoholpercentage" min="0" max="20" value="{{ filters.Alcoholpercentage.value }}" id="Alcoholpercentage" class="form-control" (change)="filterChanged($event)">
		</div>
	</div>
</div>
